@import "../../vaiables.scss";

.Layout {
  height: 100vh;
  min-height: 100vh;
}

.Content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
