@import "../../../vaiables.scss";

.DropDown {
  padding: 0px 16px;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 2rem;
}

.HeaderMenu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
